<div id="graphContainer">
    <!--Filter pane-->
    <div id="filterArea">

    </div>

    <!--Graph-->
    <div id="graphArea"></div>
    <script id="graph" src='/scripts/{{script}}.js'>{{{jsonStringify data}}}</script>
</div>