<div id="adminContainer">
    <div class="dashboardCard">
        <div class="dashboardCardHead">
            <p>Initialize</p>
        </div>
        <div class="dashboardCardContent">
            <form action="/admin/ingest" method="post">
                <button type="submit" value="Ingest Data">Ingest Data</button>
                <label>Ingest historical data from csv files by using Spark Streaming</label>
            </form>
        </div>
    </div>
</div>