<a href="/vega/choro">
    <div class="category">
        <p>Choropleth maps</p>
    </div>
</a>
<a>
    <div class="category">
        <p>Correlation graphs</p>
    </div>
</a>
<a>
    <div class="category">
        <p>Horizon graphs</p>
    </div>
</a>