<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    {{#each stylesheets}}
        <link rel='stylesheet' href='/stylesheets/{{this}}.css'/>
    {{/each}}
</head>
<body>
{{> navbar }}
{{{body}}}
</body>
</html>
