<div id="vis" style="float: left"></div>
<div id="filters">
    <input type="checkbox" name="filter1" onclick='handleClick(this);' value="a"> Don't show ones starting with a<br>
    <input type="checkbox" name="filter2" onclick='handleClick(this);' value="b"> Don't show ones starting with b<br>
    <input type="checkbox" name="filter3" onclick='handleClick(this);' value="c"> Don't show ones starting with c<br>
</div>

<script src='/scripts/{{script}}.js'></script>