body {
    font: 14px "Roboto", Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: #f6f6f6;
}

h1 {
    font-weight: normal;
    font-family: "Roboto Light", Helvetica, Arial, sans-serif;
}

a {
    color: #000000;
}

.navBar {
    background-color: #510265;
    color: #ffffff;
    padding: 0 16px;
    display: flex;
    flex-flow: row;
}

.navLinks {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.navButton {
    color: white;
    text-decoration: none;
    padding: 0 16px;
    height: 100%;
    display: flex;
    align-items: center;
}

.navButton:hover {
    background-color: #3f0253;
}

#dashboard {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 32px;
}

.dashboardElement {
    flex-basis: 25%;
    max-width: 30%;
    min-width: 250px;
    margin: 16px;
    text-decoration: none;
}

.dashboardCard {
    background-color: #f6f6f6;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
}

.dashboardCardHead {
    background-color: #510265;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    padding: 4px;
}

.dashboardCardContent {
    padding: 8px;
}

button {
    background-color: #35477d;
    border-style: none;
    padding: 8px;
    color: #ffffff;
    border-radius: 5px;
}

button:active {
    background-color: #333468;
}

.code {
    font-family: Consolas, serif;
    color: #0770ff;
}

