.vega-actions a {
    margin-right: 5px;
}

.container {
    display: flex;
    /* Has to be like this for the dropdown menu to be on top */
    flex-direction: row-reverse;
}

.containerState {
    display: flex;
    justify-content: space-around;
}

#vis {
    flex-grow: 1;
}

#vis canvas {
    margin: auto;
    display: block;
}

.toggleCB {
    flex-grow: 1;
}

.dropbutton { 
    background-color: #4CAF50; 
    color: white; 
    padding: 14px; 
    font-size: 14px; 
    border: none; 
    cursor: pointer; 
} 
  
.dropbutton:hover, .dropbutton:focus { 
    background-color: #3e8e41; 
} 
  
.filtersmenu { 
    position: relative; 
    display: inline-block; 
    outline: none;

    width: 250px;
} 
  
.dropdownmenu-content { 
    display: none; 
    position: absolute; 
    background-color: #f9f9f9; 
    min-width: 250px; 
    overflow: auto; 
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    
    border: 2px solid #ccc;
    width: 180px;
    height: 500px;
    overflow-y: scroll;

    flex-direction: column;
} 
  
.dropdownmenu-content input { 
    color: black; 
    padding: 12px 14px; 
    text-decoration: none; 
    /* display: block; */ 
} 
  
.dropdownmenu input:hover { 
    background-color: #f1f1f1 
} 
  
.show { 
    display:block; 
}

.innerContainer {
    flex-direction: row;
}

#graphTitle{
    text-transform:capitalize;
}
